.wrapper {
  background-color: var(--background-color-blue);
  display: flex;
  padding: 5vh 0;
}

.wrapper h2 {
  font-weight: 500;
  font-size: 2rem;
  color: rgb(124, 182, 222)
}

.wrapper span {
  color: var(--color-secondary);
}

.maxWidthWrapper {
  display: flex;
  max-width: 1500px;
  min-width: min-content;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  /* border: solid gold; */

  flex-direction: column;
  gap: 32px;
}

.content {
  /* border: solid gold; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1;
  gap: 32px;
  font-size: 1.25rem;
  font-weight: 200;
  line-height: 1.5;
}

.left, .right {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


@media (max-width: 900px) {
  .content {
    grid-template-columns: 1fr;
  }
}