.wrapper {
  height: 120px;
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  padding: 24px var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  /* border: 1px solid pink; */
}


@media (max-width: 600px) {
  .wrapper {
    height: 100px;
    padding: 24px var(--padding-mobile);
  }
}