.wrapper {
  /* display: flex;
  flex-direction: column; */
}

.main {
  /* height: 120px; */
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  padding: 24px var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  margin-top: 3rem;
  /* border: 1px solid pink; */
}