.wrapper {
  display: flex;
  gap: 24px;
  color: var(--color-blue);
}

.wrapper a {
  text-decoration: none;
  color: currentColor;
}
.wrapper a:visited {
  color: currentColor;
}

.wrapper a:hover {
  color: var(--color-accent);
}