.wrapper {
  display: flex;
  gap: 16px;
}

.wrapper a {
  text-decoration: none;
  color: var(--color-text);
}
.wrapper a:visited {
  color: var(--color-text);
}

.wrapper a:hover {
  color: var(--color-secondary);
}