.wrapper {
}

.wrapper button {
  border: none;
  font-size: var(--font-size-label);
  padding: 8px 12px;
  border: 1px solid var(--color-blue);
  border-radius: 4px;
  color: var(--color-blue);
  background-color: white;
}

.wrapper button:hover {
  background-color: var(--color-accent);
  color: white;
  border: none;
  cursor: pointer;

}