*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--background-color);
  color: var(--color-text);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--letter-spacing-body);
  line-height: 1.5;
}

:root {
  --font-size-body: calc(18 / 16 * 1rem);
  --font-size-logo: calc(54 / 16 * 1rem);
  --font-size-h1: calc(42 / 16 * 1rem);
  --font-size-h2: calc(35 / 16 * 1rem);
  /* https://typescale.com/ */

  --font-weight-bold: 600;
  --font-weight-normal: 400;
  --font-weight-light: 300;
  --font-weight-thin: 200;

  --letter-spacing-heading: -1.25px;
  --letter-spacing-body: 0.7px;

  --background-color-white: hsl(0, 0%, 100%);
  --background-color-blue: hsl(194, 57%, 95%);

  --color-black: hsl(210, 3%, 16%);
  --color-blue: hsl(205, 60%, 48%);
  --color-accent: hsl(3, 80%, 66%);
  /* --color-accent: hsl(3, 60%, 56%);*/

  --padding: 16px;

  --max-width: 1400px;

  /* Breakpoints
  - tablet: 950px
  - mobile: 600px
   */
}
