.wrapper {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.listItem {
  font-size: 1.25rem;
  font-weight: 400;

}
/* 
.listItem a {
  text-decoration: none;
}

.listItem a:visited {
  color: currentColor;
} */