.wrapper {
  background-color: var(--background-color-blue);
  padding: var(--padding);
}

.maxWidthWrapper {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  min-width: min-content;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;

  justify-content: space-between;
  align-items: flex-start;
  gap: 48px;
}

.wrapper h2 {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-h2);
  color: var(--color-blue);
  letter-spacing: var(--letter-spacing-heading);
  margin-bottom: 48px;
}

.form {

}


@media (max-width: 600px) {
  .wrapper p {
    font-size: 0.75rem;
  }
}