.wrapper {
  background-color: var(--background-color-blue);
  padding: 2vh 0;
}


.maxWidthWrapper {
  display: flex;
  max-width: 1500px;
  min-width: min-content;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;

  justify-content: space-between;
  align-items: center;
  gap: 48px;
  font-weight: 200;
  font-size: 1rem;
}


@media (max-width: 600px) {
  .wrapper p {
    font-size: 0.75rem;
  }
}